<a href="https://colab.research.google.com/github/tlysenko/CreditScoring/blob/master/Genome%20Sequencing%20(Bioinformatics%20II)/Bioinformatics_2_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing libraries

In [ ]:
import numpy as np
from google.colab import files
import pandas as pd

## 1.2 String Composition Problem: Generate the k-mer composition of a string.
Input: An integer k and a string Text.

Output: Composition_k(Text), where the k-mers are arranged in lexicographic order.

In [ ]:
k = 5 
text = 'CAATCCAAC'

In [ ]:
def CompositionK(text, k):
  kmerSet = set()
  lineLen = len(text)-k+1
  for i in range(lineLen):
    kmerSet.add(text[i:i+k])
  return kmerSet

In [ ]:
k = 5 
text = 'CAATCCAAC'

CompositionK(text, k)

{'AATCC', 'ATCCA', 'CAATC', 'CCAAC', 'TCCAA'}

### Stepik submission

In [ ]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dataset_197_3-2.txt to dataset_197_3-2.txt
User uploaded file "dataset_197_3-2.txt" with length 5005 bytes

In [ ]:
with open(fn) as f:
  k = int(f.readline())
  text = f.readlines()
text = text[0].split('\n')[0]

In [ ]:
comp = CompositionK(text, k)

In [ ]:
s = ''
for line in comp:
  print(line)

## 1.3.1 String reconstruction problem 

Reconstruct a string from its genome path.

Input: A sequence path of k-mers Pattern_1, … ,Pattern_n such that the last k - 1 symbols of Pattern_i are equal to the first k-1 symbols
          of Pattern_i+1 for 1 ≤ i ≤ n-1.

Output: A string Text of length k+n-1 such that the i-th k-mer in Text is equal to Patterni (for 1 ≤ i ≤ n).

In [ ]:
def ReconstrucString(kmers):
  pattern = kmers[0]
  for kmer in kmers[1:]:
    pattern = pattern + kmer[-1]
  return pattern

In [ ]:
kmers = [
'ACCGA',
 'CCGAA',
  'CGAAG',
   'GAAGC',
    'AAGCT']
k = 5
ReconstrucString(kmers)

'ACCGAAGCT'

### Stepik submission

In [ ]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dataset_198_3.txt to dataset_198_3.txt
User uploaded file "dataset_198_3.txt" with length 129376 bytes

In [ ]:
with open(fn) as f:
  text = f.readlines() #.split('\n')
text = [t.split('\n')[0] for t in text]

In [ ]:
text[:5], len(text)

(['TCAGGACGCCCGTTAATGCTCCTCC',
  'CAGGACGCCCGTTAATGCTCCTCCG',
  'AGGACGCCCGTTAATGCTCCTCCGT',
  'GGACGCCCGTTAATGCTCCTCCGTC',
  'GACGCCCGTTAATGCTCCTCCGTCG'],
 4976)

In [ ]:
ReconstrucString(text)

'TCAGGACGCCCGTTAATGCTCCTCCGTCGTAATATTACGAATCTTTTACTGTACTCAAAGGCAACTTAGATCCCCAACTAATACCTACCTTGGGGGAGAACCAGACGTATAAGCAGACAACCATGTAGTAAGATACCTGATTTGGCGTCTATTGGATGGTTTCCAATTGTATTCTAGGTAAATCGTTATGTACGTAGTTGGTCTCCACTGGGAGGCGTATAAACTTTGTAGCCGTTGGCTAAGGGGCCGGTCCTAATAAGACCTTGAACGTGCCCTAGCCTAATGCGCCCACTGTCTCAACCTCTGCAGCACAACAGACCTGAGGATCTACCTCTTGAGTTTGCCGTACTGGGCTTTTGCTATCAATGCTCAGTGACGATCGAGGGAGTAAATGTTTATATAACACCGCCAACCGACCAACACCAACCAACTTTATGCCAGCTGGCTAAAGTGTCCCGACGTATGCCTGGTTAGGTCCGCCAACGCTGAACCTTTCGGTGGACCTCATAACTAGGAACCACGTCACTAAGCGCGAACAAATGACTTCAATTAACATGTCACCTAGCCATGTAGTCACACAGAAGACAGACCAGACTGATTTAGGTAAAAATGTGCACTCACGTCTCAATGGGCAGTGTGGCGTACGAAAGCTTACAGCGTGGTAGCATTGTGCATCTCCTTGCTCCTCACTGAGTAGACTCCTTATAAACCATACCCACGACCGCGCTACCTCAAAGAGAGAACGGCAGATAGATCCGAATGTGGAGTAGCATAATATAACTTAATCATAGAATCCAGACTGCTCGCTTGGGGTCTACGGCTTTCACTCCAAAAACCCCAATGGTCGCCCAGGCTTGGCAAATACACTAGTTGTGAATACCGTTCTAAACCTTGCACGTGTGATTAGGACATGGGCGTAAGATCATTCGTCAACGCTCCCTTACTATATATGGGTAAGCTATCTCTTGGACGACGTGAAAGTTCCATCTAGAGGGGTCACTAACCATCACACGCTGCACACGCCTTATAAAACGATCGCACTCGCGGCTGGAAGGTCCGAGCTGTCCAAGTTAAGAGCAATCCGTTGAATGCGGTCGGAATGTAAGATCACATCGTGAGCCTCATAACGACAACCAGTCAGCAGAGGGCTATCGGGAAGTAGTCCGATTCCACCTACGTCTTGGATAACGCGGTACACGAGGCGCACTGTCGGACCGCGGTATGGACCGCGCGTTATTTCTACAGCGGGTCACTTCCCATGATCGGACAGGACGGCATTATGTATGGTTCTGTTAGCTCATCTCCTGCTTTCCTAGAGCCCTAATCCCGAACGGTGCGTAGAGTAGGGGAGCGTCCTGTGCAGCGCGCAGGGTGTTAGTGATCGGCTTCTGTGTTTGATAGTGGGGATTCGGCGGTTATACGTAGGTTGCCAAGCGGCATCTTATAGTCCGCGGGCGACCGTTTAAGTCTCCCTGCGAGCCGAATGGGCAAGGGAAAATATAGACCGTAGATGCACTTCATTCCCTGATGAACAGTGTGATACCCGTGGTGACCTCTATAAGGTTTTAGACTAATTTCAGTCCTTAGACCTGCGTTAGCCTCATTTAGGGAGGAGGAATCCGTTAACATTCCCGACCGGCACGATGAAATATGTAGGTATATACCATAGGGCGTGAGATAGAAGACGAGGACGCGTGCGTTTCAACGTAGAAGACAAAGTTAGCACCAGCGGGGCAATCCCGGATCAGGCGATAATCCAATGGCACGTCCACTTCACAACTCACAAAGTCGTACGGATGTCCAGAACTGCGGACTGGCGGGGATTGGTCATTTAATCAAGAGCTGCTGATAAGAAAACATAATCAACGTTGAGGAGATTCAGAACTTGCTGTATAGTTACTCTCTGGTCTATCGGTTCCTATTTGGGGTCCCGAATCACTAACATTACGTCGGAAAACTCTGCTTTATTCATCCGTTTAACTGACAGTCAGTGTAATGAGCACACCATGCTTATGTATAATCACTCTGTTACCGTGGAAGAGTTTATTCATATTTTGGAGGGCGAGCAGTCGTCATAAGCTCCGTTGGGTGGACCTCGTGGTATTGGTGAGGCTAACTCCTATGTGGAATACGAATATACACCCTGAACGCTCACGTCTACATGCATAGACATCCGGAAGTATAGAAATCTACTACCGTTCATGATAGGCAACGCGGTGCTAAGTAACTGAGCGGCCTCACGTCATAGGAGCTGGAGTCGTCTATACCGTCGCCTCGTAATGGACATACTCGATCTTATGATATACATAATTAAGGACTACGATGCGCTTTGGCTCCAAGTAGATGCTTCCCGCCGGAGTTGTGATACCAGACTACTTAGAACGCCTTGACTCCCACAACAGGGCGGCGCATATGGAATCTTAGAGCCATGGGTCGAAGAGAGTTCCATGCTCTGGCTGCAAGAGCGGCAGTCATCTGGCACAGGGAATGTTAAGCCTAGACACATGCGTAGTAAGATACTGCTTCGCTTCGTTTGACGGGTCAAGGTGGCCATTGAGAATTCGCGTCAGCTTAGTATCTGGATCAAGGTAAGCTAGACGTTGTTGATCGTACCCTTCTGAAGCCCTAGTCCGCTCTCAGAATGATACTGGTCCTCGCCCTGAGATGTTATGACTGCCAACGGCTGTAACGAGAAACGGGGCGAGTACTGAGTTTTCGTAGTTCCTTAAGATTGGACGGTTGTCACGTTAGGCTATCATATGTGCGAACCAGTTGTTGACACTTTGTACTGGCAGCTGGACTCCTCTACCGCACACTTAGCAACGTTTTTTCGGCCATTGGAGTGTCGTCCACCAGGTAATTAGGAAACTACCTCAGGGTATTGGATAGAACGTGTAGAATTTGCAACCTATATTATGGGGACTTATGCATCTAGGTGGTCTAACCCACAAGGCGGGGTGGATGTACCGAATAGCCTCGCGATAAGCTCTCCCTGCCTCTCCCGTCGCGTCGATATACTACTGCCCTCAACTGGGAATAATTTTGTAGGTTAGTCCCCAAGGCTTCTGGTTGGCGGATATTCCGCACGGAAATCAACGTCCTCCACAATCGCTGCGCCACTACCCATAGCTCCCCACGTCCCCAGTTTCATGCAGAACCATAACATTCAGCATGAATGCCGGTACTTCGATAGGCCGAGAACATCTGTCGGTGCCGATTTACTTCAGGGTTTTCTAGATACAATGGACACACTCGACTCTCGTTACGGTCAACGACTAGGGGAGTTGAGCATAAGACATATTTCCTAGTGTAGAGGGACGCCTCATAGATCTGCTGTATGGGGCTGTACATGCCGCTATAAGGTGGCCCATGGGATGGAGGGATTCCGACCATATAGCGTGAAACACATTCGTCGTTTGGCCATACCAATTCCACGTGAGGCGCCGATGAGTCCTCGCCCGCTATCTTTCCCCCAGCCTCTACCATTAAATAGTCCACTGCTAGCGCGACACGGTATACGTTGTCGGATCACTGAGGGCTTTCGTGAATTTCCCCATCATCTCGTCGCGGTACTGACTTCCAGTGCTGGATAGGCAGATAACGGGCTATGTCCCCAATGCGTGTCAACGAAGGTCAAGTTCCACTGTGGCTGCTTTTTACTACCACCAAGACTTAGGCAATCAAGACGAATCTCCATGCCATCATGACAAGCCAGATGCATGAGGAAACAGTGAAACTTTGCTTCACGAACAGGACGGCGGGCGATGGTCTCTTTTTTGCCCGCCCCCTCCCTTGACCGTAACCTGTTCCGTGTATCGGGCTCCAATCTTGTCCCCTAAAGTTGAATATCACAATCGCACAGGTTCACTAGTATATTAGGCTATCAAATTACAGCTTCCAGATGAGGGAAAAGGATATTGTCCTTCTTCTAGAGCATTCGTAGAGTATCTACACCTGTTGTCTCGTTCCCCCTAATTCGAATCTTACATTGGACCCCTATAACCCTTTACTTGCTTGCTTCGGCCCGTATCAACAAGGGTACTTTCGTCGGATATTGGGTGAGCTACGAAACACGTTCACTCATATCCACACCGCGTAAGAGAGAGAGTAATTCTGAAATCGGCTATCCCTACGAGGTCCTAATTACTAGGACGAAAGTGCCACTCCTTGCGACCGTACATTTATCTTACCCTCCAGCAGGTCCCAGTATATAGCTTGGCATGACCGCACAGGACAGGCGTTGCGCAGCTCGTAATGCGCGGTGTAAAACACGCGCTGCGACCTTTGGGTATACAATTCAATGTCGCGAAAGCTATAATCCGGGAGAGTAAGGGACACGTAGATAAATCACATTCTCCCAAACATAATTGGATAACTTGACTTAAATATGCATAATCTACCCGTGTCTGCATTAGCATATGTTCACATCCTCACGCATAGTCCCCGTCGCCACTCGGTTCATTTGTGATAGCGCTACGCATATTCTTGCGTACCCTGAAACACCGCCCTCTACCCGGATTGAGTAGGGCCCATTCTCAGCCCAAGGAAAAGGCTCCCCCCTTCGGTCACTTGCCCGCGGAGATTGGGTAGATCAACAGTGGCTTCTATTTTAAGTAGGGCGGGACGAAAAAATGTCCTCGCACAGCCATGCAACGAAAAGCCCGGCTGTTCATCTAGTAATCCTCAAAGGAATGCGTCCATAGTGCCGCAGAACTCACATGCCCGCGTATGTTTGAGCTCTAAGGGGTATGTGGAGATCTGCGTTCATCGGCGCAAAAACGGAATGCAGTCCGTACTAAACTAGAAATCTTCTTCAGCGAGTAAGGCCGCCGACCTTTTGCACTCGTGCTGATTTCTCCGGGGACTGCGCAGCGGAGAGTACTGAACGATGCGTCGGGGAGAATCACTAGCCTAGTGTAGCGGCAACAAGATCGGAATTAGACCCAAAGATCTCTAGGATGCTATGTCAGATTCAAGACACATCACCAGGCGTGATCTAC'

## 1.3.2 Overlap Graph Problem: Construct the overlap graph of a collection of k-mers.
Input: A collection Patterns of k-mers.
    
Output: The overlap graph Overlap(Patterns), in the form of an adjacency list. (You may return the nodes and their edges in any order.)

In [ ]:
s = '12345'
k = 5
print('prefix, fist k-1 nucl:', s[:k-1]) 
print('sufix, last k-1 nucl :', s[-(k-1):])

prefix, fist k-1 nucl: 1234
sufix, last k-1 nucl : 2345

In [ ]:
#candidates = dict()
def OverlapGrpah(kmers):
  final = []
  k = len(kmers[0])

  for kmer in kmers:
    lst = []
    for candidate in kmers:
      if (kmer != candidate) and (candidate[:k-1]==kmer[-(k-1):]):
        lst.append(candidate)
    if len(lst)>0:
      final.append([kmer, lst])
  
  with open('newfile.txt','w') as f:
      
    for line in final:
      if len(line[1])==1:
        line2 = line[1][0]
      else:
        line2 = ', '.join(line[1])
      #lineToFile = str(line[0])+ ' -> '+str(line2) + '\n'    
      #f.write(lineToFile)
      print(line[0], '->', line2)

In [ ]:
kmers =[
'ATGCG',
'GCATG',
   'CATGC',
    'AGGCA',
     'GGCAT',
      'GGCAC']
k = 5

OverlapGrpah(kmers)

GCATG -> CATGC
CATGC -> ATGCG
AGGCA -> GGCAT, GGCAC
GGCAT -> GCATG

### Stepik submission

In [ ]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dataset_198_10-3.txt to dataset_198_10-3.txt
User uploaded file "dataset_198_10-3.txt" with length 129376 bytes

In [ ]:
with open(fn) as f:
  text = f.readlines() #.split('\n')
text = [t.split('\n')[0] for t in text]

In [ ]:
len(text)

4976

In [ ]:
OverlapGrpah(text)

## 1.4 De Bruijn Graph from a String Problem: Construct the de Bruijn graph of a string.
Input: An integer k and a string Text.

Output: DeBruijnk(Text).

In [667]:
def CompositionKLst(text, k):
  kmerLst = []
  lineLen = len(text)-k+1
  for i in range(lineLen):
    kmerLst.append(text[i:i+k])
  return kmerLst

def CreateMatrix(nodes):
  adjanecyMatrix = pd.DataFrame(index = nodes, columns = nodes)
  for col in adjanecyMatrix.columns:
      adjanecyMatrix[col].values[:] = 0
  for i, node in enumerate(nodes):
    if i < len(nodes)-1:
      adjanecyMatrix.loc[nodes[i]][nodes[i+1]] = 1
  return adjanecyMatrix

def DeBrujin(text, k):

  # Creating edges and nodes
  edges = CompositionKLst(text, k)
  nodes = [e[:k-1] for e in edges]
  nodes.append(edges[-1][1:])

  # Getting repeating nodes
  repNodesDict = dict()
  uniqueNodes = list(set(nodes))
  for node in uniqueNodes:
    frq = nodes.count(node)
    if frq > 1: 
      repNodesDict[node] = frq

  # Renaming repeating nodes
  for i, node in enumerate(nodes):
    if node in repNodesDict.keys():
      frq = repNodesDict[node]
      nodes[i] = str(nodes[i]) + '1'
      while frq > 1:
        for j in range(i, len(nodes)):
          if nodes[j] == node:
            nodes[j] = str(nodes[j]) + str(frq) 
            frq = frq - 1 

  # Creating the matrix 
  df = CreateMatrix(nodes)

  # 1. Sum all need colums 

  df = CreateMatrix(nodes)
  for col in repNodesDict:
    df.loc[:,[col]] = 0
    for i in range(repNodesDict[col]):
      col_id = str(col)+str(i+1)
      df.loc[:, [col]] = df.loc[:,[col]].to_numpy() + df.loc[:,[col_id]].to_numpy()  

  # 2. Sum all need rows

  for row in repNodesDict:
    df = df.append(pd.Series(name = row,dtype=int))
    df.loc[[row],:]=0
    for i in range(repNodesDict[row]):
      row_id = str(row)+str(i+1)
      df.loc[[row],:] = df.loc[[row],:].to_numpy() + df.loc[[row_id],:].to_numpy()

  # 3. Replace rows values and drop 

  for row in repNodesDict:
    newRow = str(row) + '1'
    #TC1<- TC content
    df.loc[[newRow],:] = df.loc[[row], :].to_numpy()
    df = df.drop([row], axis = 0)
    # rename TC1 to TC and TC to TC1
    df.rename({newRow:row}, inplace = True, axis = 0)

    df = df.drop([row + str(k) for k in range(2,repNodesDict[row]+1)], axis = 0)

  # 4. Replace column values and drop 

  for col in repNodesDict:
    newCol = str(col) + '1'
    #TC1<- TC content
    df.loc[:, [newCol]] = df.loc[:, [col]].to_numpy()
    df = df.drop([col], axis = 1)
    # rename TC1 to TC and TC to TC1
    df.rename({newCol:col}, inplace = True, axis =1)
    # df.rename({row:newRow})
    df = df.drop([col + str(k) for k in range(2,repNodesDict[col]+1)], axis = 1)

    # 5 building adjacency list

    final = []
    for row in df.index.values:
      if np.sum(df.loc[[row],:].values[0])>0: # if row is not empty
        nds = []
        for v, c in zip(df.loc[[row],:].values[0], df.columns):
          if v > 0:
            v = int(v)
            for j in range(v):
              nds.append(c)
        s = ', '.join(nds)
        #print(row,'->', s)
        s_app = row + ' -> ' + s
        final.append(s_app)

  return final

In [668]:
k = 4
text = 'AAGATTCTCTAAGA'
DeBrujin(text, k)

['AAG -> AGA, AGA',
 'AGA -> GAT',
 'GAT -> ATT',
 'ATT -> TTC',
 'TTC -> TCT',
 'TCT -> CTC, CTA',
 'CTC -> TCT',
 'CTA -> TAA',
 'TAA -> AAG']

In [655]:
k = 3
text = 'TAATGCCATGGGATGTT'

DeBrujin(text, k)

In [656]:
edges = CompositionKLst(text, k)

nodes = [e[:k-1] for e in edges]
nodes.append(edges[-1][1:])
print('edges:', edges)
print('nodes:', nodes)

edges: ['TAA', 'AAT', 'ATG', 'TGC', 'GCC', 'CCA', 'CAT', 'ATG', 'TGG', 'GGG', 'GGA', 'GAT', 'ATG', 'TGT', 'GTT']
nodes: ['TA', 'AA', 'AT', 'TG', 'GC', 'CC', 'CA', 'AT', 'TG', 'GG', 'GG', 'GA', 'AT', 'TG', 'GT', 'TT']

In [657]:
len(text)-k+1, len(edges)

(15, 15)

In [658]:
# Amount of repeating nodes
-len(set(nodes)) + len(nodes)

5

In [659]:
# Count repeating nodes 
repNodesDict = dict()
uniqueNodes = list(set(nodes))
for node in uniqueNodes:
  frq = nodes.count(node)
  if frq > 1: 
    repNodesDict[node] = frq
repNodesDict

{'AT': 3, 'GG': 2, 'TG': 3}

In [660]:
# rename repeating nodes

for i, node in enumerate(nodes):
  if node in repNodesDict.keys():
    frq = repNodesDict[node]
    nodes[i] = str(nodes[i]) + '1'
    while frq > 1:
      for j in range(i, len(nodes)):
        if nodes[j] == node:
          nodes[j] = str(nodes[j]) + str(frq) 
          frq = frq - 1 
print('result', nodes)

result ['TA', 'AA', 'AT1', 'TG1', 'GC', 'CC', 'CA', 'AT3', 'TG3', 'GG1', 'GG2', 'GA', 'AT2', 'TG2', 'GT', 'TT']

In [661]:
def CreateMatrix(nodes):
  adjanecyMatrix = pd.DataFrame(index = nodes, columns = nodes)
  for col in adjanecyMatrix.columns:
      adjanecyMatrix[col].values[:] = 0
  for i, node in enumerate(nodes):
    if i < len(nodes)-1:
      adjanecyMatrix.loc[nodes[i]][nodes[i+1]] = 1
  return adjanecyMatrix
df = CreateMatrix(nodes)
df

    TA AA AT1 TG1 GC CC CA AT3 TG3 GG1 GG2 GA AT2 TG2 GT TT
TA   0  1   0   0  0  0  0   0   0   0   0  0   0   0  0  0
AA   0  0   1   0  0  0  0   0   0   0   0  0   0   0  0  0
AT1  0  0   0   1  0  0  0   0   0   0   0  0   0   0  0  0
TG1  0  0   0   0  1  0  0   0   0   0   0  0   0   0  0  0
GC   0  0   0   0  0  1  0   0   0   0   0  0   0   0  0  0
CC   0  0   0   0  0  0  1   0   0   0   0  0   0   0  0  0
CA   0  0   0   0  0  0  0   1   0   0   0  0   0   0  0  0
AT3  0  0   0   0  0  0  0   0   1   0   0  0   0   0  0  0
TG3  0  0   0   0  0  0  0   0   0   1   0  0   0   0  0  0
GG1  0  0   0   0  0  0  0   0   0   0   1  0   0   0  0  0
GG2  0  0   0   0  0  0  0   0   0   0   0  1   0   0  0  0
GA   0  0   0   0  0  0  0   0   0   0   0  0   1   0  0  0
AT2  0  0   0   0  0  0  0   0   0   0   0  0   0   1  0  0
TG2  0  0   0   0  0  0  0   0   0   0   0  0   0   0  1  0
GT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  1
TT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  0

In [662]:
# 1. Sum all need colums 

df = CreateMatrix(nodes)
for col in repNodesDict:
  df.loc[:,[col]] = 0
  for i in range(repNodesDict[col]):
    col_id = str(col)+str(i+1)
    df.loc[:, [col]] = df.loc[:,[col]].to_numpy() + df.loc[:,[col_id]].to_numpy()  
df

    TA AA AT1 TG1 GC CC CA AT3 TG3 GG1 GG2 GA AT2 TG2 GT TT  GG  AT  TG
TA   0  1   0   0  0  0  0   0   0   0   0  0   0   0  0  0   0   0   0
AA   0  0   1   0  0  0  0   0   0   0   0  0   0   0  0  0   0   1   0
AT1  0  0   0   1  0  0  0   0   0   0   0  0   0   0  0  0   0   0   1
TG1  0  0   0   0  1  0  0   0   0   0   0  0   0   0  0  0   0   0   0
GC   0  0   0   0  0  1  0   0   0   0   0  0   0   0  0  0   0   0   0
CC   0  0   0   0  0  0  1   0   0   0   0  0   0   0  0  0   0   0   0
CA   0  0   0   0  0  0  0   1   0   0   0  0   0   0  0  0   0   1   0
AT3  0  0   0   0  0  0  0   0   1   0   0  0   0   0  0  0   0   0   1
TG3  0  0   0   0  0  0  0   0   0   1   0  0   0   0  0  0   1   0   0
GG1  0  0   0   0  0  0  0   0   0   0   1  0   0   0  0  0   1   0   0
GG2  0  0   0   0  0  0  0   0   0   0   0  1   0   0  0  0   0   0   0
GA   0  0   0   0  0  0  0   0   0   0   0  0   1   0  0  0   0   1   0
AT2  0  0   0   0  0  0  0   0   0   0   0  0   0   1  0  0   0   0   1
TG2  0  0   0   0  0  0  0   0   0   0   0  0   0   0  1  0   0   0   0
GT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  1   0   0   0
TT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  0   0   0   0

In [663]:
# 2. Sum all need rows

#df = CreateMatrix(nodes)

for row in repNodesDict:
  df = df.append(pd.Series(name = row, dtype=int))
  df.loc[[row],:]=0
  for i in range(repNodesDict[row]):
    row_id = str(row)+str(i+1)
    df.loc[[row],:] = df.loc[[row],:].to_numpy() + df.loc[[row_id],:].to_numpy()
df

    TA AA AT1 TG1 GC CC CA AT3 TG3 GG1 GG2 GA AT2 TG2 GT TT   GG   AT   TG
TA   0  1   0   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
AA   0  0   1   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  1.0  0.0
AT1  0  0   0   1  0  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  1.0
TG1  0  0   0   0  1  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
GC   0  0   0   0  0  1  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
CC   0  0   0   0  0  0  1   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
CA   0  0   0   0  0  0  0   1   0   0   0  0   0   0  0  0  0.0  1.0  0.0
AT3  0  0   0   0  0  0  0   0   1   0   0  0   0   0  0  0  0.0  0.0  1.0
TG3  0  0   0   0  0  0  0   0   0   1   0  0   0   0  0  0  1.0  0.0  0.0
GG1  0  0   0   0  0  0  0   0   0   0   1  0   0   0  0  0  1.0  0.0  0.0
GG2  0  0   0   0  0  0  0   0   0   0   0  1   0   0  0  0  0.0  0.0  0.0
GA   0  0   0   0  0  0  0   0   0   0   0  0   1   0  0  0  0.0  1.0  0.0
AT2  0  0   0   0  0  0  0   0   0   0   0  0   0   1  0  0  0.0  0.0  1.0
TG2  0  0   0   0  0  0  0   0   0   0   0  0   0   0  1  0  0.0  0.0  0.0
GT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  1  0.0  0.0  0.0
TT   0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
GG   0  0   0   0  0  0  0   0   0   0   1  1   0   0  0  0  1.0  0.0  0.0
AT   0  0   0   1  0  0  0   0   1   0   0  0   0   1  0  0  0.0  0.0  3.0
TG   0  0   0   0  1  0  0   0   0   1   0  0   0   0  1  0  1.0  0.0  0.0

In [664]:
# 3. Replace rows values and drop 

for row in repNodesDict:
  newRow = str(row) + '1'
  #TC1<- TC content
  df.loc[[newRow],:] = df.loc[[row], :].to_numpy()
  df = df.drop([row], axis = 0)
  # rename TC1 to TC and TC to TC1
  df.rename({newRow:row}, inplace = True, axis = 0)

  df = df.drop([row + str(k) for k in range(2,repNodesDict[row]+1)], axis = 0)
df

   TA AA AT1 TG1 GC CC CA AT3 TG3 GG1 GG2 GA AT2 TG2 GT TT   GG   AT   TG
TA  0  1   0   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
AA  0  0   1   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  1.0  0.0
AT  0  0   0   1  0  0  0   0   1   0   0  0   0   1  0  0  0.0  0.0  3.0
TG  0  0   0   0  1  0  0   0   0   1   0  0   0   0  1  0  1.0  0.0  0.0
GC  0  0   0   0  0  1  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
CC  0  0   0   0  0  0  1   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0
CA  0  0   0   0  0  0  0   1   0   0   0  0   0   0  0  0  0.0  1.0  0.0
GG  0  0   0   0  0  0  0   0   0   0   1  1   0   0  0  0  1.0  0.0  0.0
GA  0  0   0   0  0  0  0   0   0   0   0  0   1   0  0  0  0.0  1.0  0.0
GT  0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  1  0.0  0.0  0.0
TT  0  0   0   0  0  0  0   0   0   0   0  0   0   0  0  0  0.0  0.0  0.0

In [665]:
# 4. Replace column values and drop 

for col in repNodesDict:
  newCol = str(col) + '1'
  #TC1<- TC content
  df.loc[:, [newCol]] = df.loc[:, [col]].to_numpy()
  df = df.drop([col], axis = 1)
  # rename TC1 to TC and TC to TC1
  df.rename({newCol:col}, inplace = True, axis =1)
  # df.rename({row:newRow})
  df = df.drop([col + str(k) for k in range(2,repNodesDict[col]+1)], axis = 1)
df

   TA AA   AT   TG GC CC CA   GG GA GT TT
TA  0  1  0.0  0.0  0  0  0  0.0  0  0  0
AA  0  0  1.0  0.0  0  0  0  0.0  0  0  0
AT  0  0  0.0  3.0  0  0  0  0.0  0  0  0
TG  0  0  0.0  0.0  1  0  0  1.0  0  1  0
GC  0  0  0.0  0.0  0  1  0  0.0  0  0  0
CC  0  0  0.0  0.0  0  0  1  0.0  0  0  0
CA  0  0  1.0  0.0  0  0  0  0.0  0  0  0
GG  0  0  0.0  0.0  0  0  0  1.0  1  0  0
GA  0  0  1.0  0.0  0  0  0  0.0  0  0  0
GT  0  0  0.0  0.0  0  0  0  0.0  0  0  1
TT  0  0  0.0  0.0  0  0  0  0.0  0  0  0

In [666]:
# 5 final step

final = []
for row in df.index.values:
  if np.sum(df.loc[[row],:].values[0])>0: # if row is not empty
    nds = []
    for v, c in zip(df.loc[[row],:].values[0], df.columns):
      if v > 0:
        v = int(v)
        for j in range(v):
         nds.append(c)
    s = ', '.join(nds)
    print(row,'->', s)
    s_app = row + ' -> ' + s
    final.append(s_app)

TA -> AA
AA -> AT
AT -> TG, TG, TG
TG -> GC, GG, GT
GC -> CC
CC -> CA
CA -> AT
GG -> GG, GA
GA -> AT
GT -> TT

In [ ]:
with open('final.txt','w') as f:
  for elem in set(final):
    f.write(elem + '\n')

### Stepik submission

In [ ]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving dataset_199_6.txt to dataset_199_6.txt
User uploaded file "dataset_199_6.txt" with length 2004 bytes

In [ ]:
with open(fn) as f:
  k = int(f.readline())
  text = f.readlines()[0].split('\n')[0]
#text = [t.split('\n')[0] for t in text]

In [ ]:
k

12

In [ ]:
len(text)

2000